<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" type="text/css" />
    <title>OlaSnippet Box</title>
  </head>
  <body>
    <header></header>
    <section class="s1">
      <div class="top1">
        <div class="image"><img src="" alt="SnippetText" /></div>
        <h1>SnippetText</h1>
      </div>
      <hr />

      <div class="navs">
        <a href="#">Home</a>
        <a href="#">New Snippet</a>
      </div>
      <hr />

      <div class="main">
        <p>Latest Snippet</p>
        <p>There is nothing to see here yet</p>
      </div>

    </section>
    <footer>
        
    </footer>
  </body>
</html>
